.modal-header, h4, .close {
      background-color: #434753;
      color:white !important;
      text-align: center;
      font-size: 30px;
}
.modal-footer {
      background-color: #f1f5f8;

}

/* The Modal (background) */
.modal {
    /*display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */    
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.btn-success {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
