@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;  
}

/* CHAT */


    .navbar {
      margin-bottom: 1px;
      border-radius: 0;
    }
    
  
.nav {
  background: #434753;
  color: #434753;
  height: 8%;
}

a { 
    color: inherit; 
    text-decoration: none;
} 
.ui {

  background-color: #fff; 
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}
.ui .left-menu {
  width: 18%;
  box-sizing: content-box;
  padding-right: 1%;
  height: 100%;
  background: #434753;
}
.ui .chat {
  width: 82%;
  height: 100%;
  background: #f1f5f8;
}
.ui .chat .info {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: 40px;
  width: calc(100% - 65px - 50px);
}
.ui .chat .info .name {
  font-weight: 600;
  color: #434753;
  height: 50%;
}
.ui .chat .info .count {
  color: #6d738d;
}
.ui .chat i.fa {
  color: #d6d9de;
  vertical-align: 25px;
}
.ui .avatar > img,
.ui .list-friends img {
  border-radius: 50%;
  border: 3px solid #696c75;
}
.ui .list-friends {
  list-style: none;
  font-size: 13px;
  height: 88%;
}
.ui .list-friends img {
  margin: 5px;
}
.ui .list-friends > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui .list-friends .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ui .list-friends .user {
  color: #fff;
  margin-top: 12px;
}
.ui .list-friends .status {
  position: relative;
  margin-left: 14px;
  color: #a8adb3;
}
.ui .list-friends .off:after,
.ui .list-friends .on:after {
  content: '';
  left: -12px;
  top: 8px;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
.ui .list-friends .off:after {
  background: #fd8064;
}
.ui .list-friends .on:after {
  background: #62bf6e;
}

.ui .messages {
  height: calc(100% - 70px - 70px);
  list-style: none;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
}
.ui .messages li {
  margin: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.ui .messages li:after {
  content: '';
  clear: both;
  display: block;
}
.ui .messages li .head {
  font-size: 13px;
}
.ui .messages li .name {
  font-weight: 600;
}
.ui .messages li .name:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 6px;
}
.ui .messages li .time {
  color: #b7bccf;
}
.ui .messages li .message {
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  padding: 20px;
  line-height: 25px;
  max-width: 500px;
  word-wrap: break-word;
}
.ui .messages li .message:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: -12px;
  border-bottom: 12px solid #62bf6e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.ui .messages li.i .enviado {
    text-align: right;
}

.ui .messages li.i .recibido {
    text-align: left;
}

.ui .messages li.i .enviado.message {
    float: right;
    background-color: #7bc4ef;
}

.ui .messages li.i .recibido.message {
    float: left;
    background-color: #62bf6e;
}

.ui .messages li.i .head {
  text-align: ;
}
.ui .messages li.i .name {
  margin-right: 20px;
}
.ui .messages li.i .name:after {
  background-color: #7bc4ef;
  right: -20px;
  top: 6px;
}

.ui .messages li.i .message:before {
  right: 16px;
  border-bottom-color: #7bc4ef;
}

.ui .write-form {
  height: 75px;
}
.ui .write-form textarea {
  height: 75px;
  margin: 17px 5%;
  width: 90%;
  outline: none;
  padding: 15px;
  border: none;
  border-radius: 3px;
  resize: none;
}
.ui .write-form textarea:before {
  content: '';
  clear: both;
}
.ui .avatar > img {
  border-color: #62bf6e;
  margin: 10px;
  margin-right: 5px;
}
.ui .avatar {
  display: inline-block;
}
.ui .send {
  color: #7ac5ef;
  text-transform: uppercase;
  font-weight: 1000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui i.fa-file-o {
  margin-left: 15px;
}
.ui i.fa-picture-o {
  margin-left: 5%;
}

#message {
  height: 55px;
  margin: 8px 2%;
  width: 95%;
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 1px;
  resize: none;
}


/* CHAT POPUP */

